{% include 'header.html' %}
<body>
<h1 align="center">欢迎Keeper of Arcane Lore！</h1>
<a href="/logout" class="btn btn-danger">退出账户</a>
<p></p>
<div class="row">
    <div class="col-xs-6 col-md-1"></div>
    <div class="col-xs-6 col-md-10">
        <table class="table">
            <tr>
                <td><input type="text" class="form-control" id="thema" placeholder="标题"></td>
                <td>
                        <button class="btn btn-success">创建房间</button>
                </td>
            </tr>
            <tr>
                <td><p align="center">创建过的团组</p></td>
                <td></td>
                </tr>
            <tr>
                <td>杂技团</td>
                <td><a href="showallplyer" class="btn btn-info">操作</a></td>
            </tr>
        </table>

      </div>

    <div class="col-xs-6 col-md-1"> </div>
</div>


</body>

<script>
$(document).ready(function(){
  var txt;
  txt = "欢迎来到克苏鲁炮团，既然你来这里了，那么你也被深渊盯住了，那么你是谁？";
  $("#forn").html(txt);
});

function clme(){
    $.get("/deleme", {
                    id: 3,
                  },
                    function(myData , status){
                    alert("成功清除！");
                });
}
</script>

</html>